{% extends 'main.html' %}

{% block title%} OTS - Candidate Result History {%endblock title%}
{% block top%}
<a href="{% url 'OTS:home' %}"><button style="background-color: #F64C72;"><h3>Home</h3></button></a>
<a href="{% url 'OTS:logout' %}"><button style="background-color: #F64C72;"><h3>Logout</h3></button></a>
{%endblock %}
{% block content %}
<style>
    body {
 background-image: url("https://i.pinimg.com/originals/f9/07/33/f90733bb7fee626e488903d7990691f4.jpg");
}
</style>
<h1>Your Report Card</h1>
<p>Hi <span class="special">{{candidate.name}}</span>, 
    you have attempted in total <span class="special">{{candidate.test_attempted}}</span> tests and you have scored <span class="special">{{candidate.points}}</span> on the scale of 10.</p>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Attempt</th>
        <th>Right</th>
        <th>Wrong</th>
        <th>Points</th>
    </tr>
    {% for r in results%}
    <tr>
        <td>{{r.date}}</td>
        <td>{{r.time}}</td>
        <td>{{r.attempt}}</td>
        <td>{{r.right}}</td>
        <td>{{r.wrong}}</td>
        <td>{{r.points}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}