{% extends 'main.html' %}

{% block title%} OTS - Candidate Home Page {%endblock title%}
{% block top%}
<a href="{% url 'OTS:home' %}"><button style="background-color: #F64C72;"><h3>Home</h3></button></a>
<a href="{% url 'OTS:logout' %}"><button style="background-color: #F64C72;"><h3>Logout</h3></button></a>
{%endblock %}
{% block content %}
<style>
    body{
        background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-pink-flower-plant-floral-background-picture-image_280966.jpg");
    }
</style>
<h2>Welcome {{request.session.name}}, to your home page</h2>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=1">Test of 1 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=3">Test of 3 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testPaper' %}?n=5">Test of 5 Question</a>
</div>

<div class="button-link">
    <a href="{% url 'OTS:testHistory' %}">Test History</a>
</div>
{% endblock %}