{% extends 'main.html' %}

{% block title%} OTS - Login Form {%endblock title%}
{% block top%}
<a href="{% url 'OTS:registrationForm' %}"><button style="background-color: #F64C72;"><h3>SignUp</h3></button></a>

{%endblock %}
{% block content %}
<style>
    body {
 background-image: url("http://1.bp.blogspot.com/-tRUva7pmu8g/UiAVkQmvFcI/AAAAAAAAJlE/K6XA9JyPNhM/s1600/Background-Templates-Border6.jpg");
}
</style>
<div class="all-forms">
    {% if loginError%}
        <div id="error">{{loginError}}</div>
    {% endif %}
    <form action="{% url 'OTS:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-unit">
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <div class="form-unit">
            <label for="password">Password</label>
            <input type="password" name="password">
        </div>
        <div class="form-unit">
            <input type="submit" value="Login">
            <input type="reset" value="Clear">
        </div>
    </form>
    New user<a href="{% url 'OTS:registrationForm' %}"><button style="background-color:yellow;">Click Here</button></a>

</div>
{% endblock %}